@model NWEB.Pratice.T05.Core.Model.Flower

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flower</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlowerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlowerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreInventory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlowerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
